In [2]:
import pandas  as pd

def convert_people_cell(cell):
    if cell=="n.a.":
        return 'samir'
    return cell

def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell
    
df = pd.read_excel("D:\\files\\stock.xlsx", "stock", converters = {
    'people': convert_people_cell,
    'eps': convert_eps_cell
})
df

  tickets    eps  revenue price         people
0  GOOGLE  27.82       87   845     larry page
1     WMT   4.61      484    65          samir
2    MSFT  -1.00       85    64     bill gates
3     RIL    NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [7]:
df.to_excel("D:\\files\\new.xlsx", sheet_name="stocks")

In [9]:
df.to_excel("D:\\files\\new.xlsx", sheet_name="stocks", startrow=1, startcol=2, index-False)

In [5]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px solid gray;
}